# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# PyTorch model files
*.pth
*.pt

# Virtual environment
venv/
.env

# IDE
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/